@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This is a control panel dedicated to provide a simple interface for data management.</p>

<p class="mt-5 mb-3 text-muted">Basic Information Group</p>
