@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site will collect your cookie as identity recognization. it could keep your session from disabling. </p>
<p>We guarantee that we won't use your cookie other than identity verification.</p>
